body{
  align-items: center;
}

.nav-item{
  margin: 0px 10px ;  
}

.nav-pipe{
  margin: 0px 10px ;  
}

.nav-link{
  color: #FFF;
}

.nav-link:hover{
  color: #1ed760;
  opacity: 100!important;
}

.premiumDuo{
  background-color: #2d46b9;
  color: #FFF;
}

section.premiumDuo .col .titulo{
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 900;
  padding-top: 48px;
}

section.premiumDuo .col .subtitulo{
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 1.5;
  max-width: 100%;
text-align: center;
padding-bottom: 24px;
}

section.premiumDuo .row-botoes>*{
  padding-right : 5px  !important;
  padding-left: 2px  !important;
}

.btn{
  padding: 14px 32px;
  font-weight: bold;
  border-radius: 500px;
  font-size: inherit;
}

.btn-primary{
  display: flex;
  justify-content: center;
  text-align: center;
  background:#FFC864;
  color: black  !important ;
}

.btn-secondary{
  border:2px solid #ffc864 !important ;
  background-color:  #2d46b9;
  color: #ffc864  !important;
}

.btn-primary:hover{
  background-color:   #ffd280;
  transform: scale(1.02);
}

.btn-secondary:hover{
  background-color: #253992;
  transform: scale(1.02);
}

.termos{
  font-size:0.6875rem ;
  text-align: center;
  padding-top: 34px;
}

.termos .termos-link{
  color: #f4f4f4;
  font-size: 0.6875rem;
}

section.todoMundo{
  padding-top: 75px;
  padding-left: 15px; 
  padding-right:15px;
  margin: 0px;
  box-sizing: border-box;
}

section.todoMundo h2.titulo{    
  font-family:Helvetica,Arial,sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: black;
  padding: 60px;
  padding-bottom: 0px;
  letter-spacing: -2px;
}
/* @media screen and (max-width) */

section.todoMundo h3.subtitulo{
  padding-top: 15px;
  padding-left: 60px;
  font-size: 24px;
  font-family:Helvetica,Arial,sans-serif;
}

section.todoMundo img{
  overflow-clip-margin: content-box;
  overflow: clip;
  padding: bottom 0px;;
}

section.melhorValor{
  background-color: #2d46b9;
  color: #FFF;
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
}

section.melhorValor h1.titulo{
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 35px;
}

section.melhorValor h2.subtitulo{
font-size: 24px;
margin-top: 30px;
padding-bottom: 24px;
margin: 0px 68px;
}

section.CanceleQuando{
  color: #000000;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

section.CanceleQuando img{
  width: 54px;
}

section.CanceleQuando h1{
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 30px;
}

section.AssPremiumDuo{
  background-color: #2d46b9;
  color: #FFF;
  padding-top: 70px;
  padding-bottom: 40px;
}

section.AssPremiumDuo h1{
  margin-bottom: 70px;
}

section.AssPremiumDuo div.avisos{
  margin-top: 70px;
}